@page "/"





<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<hr>
<h2 class="text-center">Json Section</h2>

        @if (JsonPeople == null)
        {
            <h3>Loading ......</h3>
        }
        else
        {
            @foreach (var person in JsonPeople)
            {
                <ul>
            <li><b>@person.Id.   </b>@person.FirstName  @person.Surname</li>
                </ul>
            }

        }



<hr>

What is your name Pinky?
<input type="text" @bind-value="FName" />
<input type="text" @bind-value="LName" />


<button onclick="@(()=>AddSqliteData(FName,LName))" class="btn btn-info">Register New</button>





<h2 class="text-center">Sqlite Section</h2>


        @if (SqlitePeople == null)
        {
            <h3>Loading ......</h3>
        }
        else
        {
            @foreach (var person in SqlitePeople)
            {
                <ul>
                    <li><b>@person.Id.   </b>@person.FirstName  @person.Surname</li>

                </ul>
            }

        }



<hr>
@code
{
    public string FName { get; set; } = string.Empty;
    public string LName { get; set; } = string.Empty;

    public List<Person> JsonPeople { get; set; } = new();
    public List<Person> SqlitePeople { get; set; } = new();

    protected override Task OnInitializedAsync()
    {

        GetJsonData();
        GetSqliteData();

        return base.OnInitializedAsync();
    }


    private async void GetJsonData()
    {
        JsonPeople = await jsonService.FetchData();
        StateHasChanged();
    }






    private async void GetSqliteData()
    {
        SqlitePeople =await sqliteService.FetchData();
        StateHasChanged();
    }

    private async void AddSqliteData(string fname,string lname)
    {
        SqlitePeople =await sqliteService.AddData(fname,lname);
        FName = string.Empty;
        LName = string.Empty;
        StateHasChanged();
    }

}
